openapi: 3.0.3
info:
  title: Samokoder API
  description: |
    AI-powered code generation platform API
    
    ## Features
    - User authentication and management
    - Project creation and management
    - AI-powered code generation
    - Real-time chat with AI
    - File management and export
    - Usage tracking and analytics
    
    ## Authentication
    All endpoints require authentication except `/health` and `/docs`.
    Use Bearer token authentication with JWT tokens.
    
    ## Rate Limiting
    - Authentication endpoints: 5 requests per minute
    - API endpoints: 100 requests per minute
    - AI endpoints: 20 requests per minute
    
    ## Error Handling
    All errors follow a consistent format with appropriate HTTP status codes.
    
    ## Versioning
    Current API version: 1.0.0
    API versioning is handled via URL path prefix `/api/v1/`
    
  version: 1.0.0
  contact:
    name: Samokoder Support
    email: support@samokoder.com
    url: https://samokoder.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://samokoder.com/terms

servers:
  - url: https://api.samokoder.com
    description: Production server
  - url: https://staging-api.samokoder.com
    description: Staging server
  - url: http://localhost:8000
    description: Development server

security:
  - BearerAuth: []
  - ApiKeyAuth: []

paths:
  # === HEALTH ENDPOINTS ===
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check if the API is healthy
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '503':
          description: API is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /health/detailed:
    get:
      tags:
        - Health
      summary: Detailed health check
      description: Get detailed health information including services status
      security: []
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthResponse'

  # === AUTHENTICATION ENDPOINTS ===
  /api/auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and return access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              valid_login:
                summary: Valid login
                value:
                  email: "user@example.com"
                  password: "SecurePassword123!"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/register:
    post:
      tags:
        - Authentication
      summary: User registration
      description: Register a new user account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              valid_registration:
                summary: Valid registration
                value:
                  email: "newuser@example.com"
                  password: "SecurePassword123!"
                  full_name: "John Doe"
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Logout user and invalidate token
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/me:
    get:
      tags:
        - Authentication
      summary: Get current user
      description: Get current authenticated user information
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/user:
    get:
      tags:
        - Authentication
      summary: Get current user (alternative endpoint)
      description: Get current authenticated user information (alternative endpoint)
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/UserResponse'
                  timestamp:
                    type: string
                    format: date-time
                    description: Response timestamp
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # === PROJECT ENDPOINTS ===
  /api/projects:
    get:
      tags:
        - Projects
      summary: List user projects
      description: Get list of user's projects with pagination
      parameters:
        - name: limit
          in: query
          description: Number of projects per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          description: Number of projects to skip
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: status
          in: query
          description: Filter by project status
          required: false
          schema:
            $ref: '#/components/schemas/ProjectStatus'
        - name: search
          in: query
          description: Search in project names and descriptions
          required: false
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags:
        - Projects
      summary: Create new project
      description: Create a new project for the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateRequest'
            examples:
              web_app:
                summary: Web application project
                value:
                  name: "E-commerce Website"
                  description: "A modern e-commerce website built with React and Node.js"
                  tech_stack:
                    frontend: ["React", "TypeScript", "Tailwind CSS"]
                    backend: ["Node.js", "Express", "PostgreSQL"]
                  ai_config:
                    model: "deepseek/deepseek-v3"
                    provider: "openrouter"
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateResponse'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/projects/{project_id}:
    get:
      tags:
        - Projects
      summary: Get project by ID
      description: Get detailed information about a specific project
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Projects
      summary: Update project
      description: Update project information
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Projects
      summary: Delete project
      description: Soft delete a project (mark as inactive)
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/projects/{project_id}/chat:
    post:
      tags:
        - Projects
      summary: Chat with project
      description: Send a message to project agents and get streaming response
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  minLength: 1
                  maxLength: 4000
                  description: User message
                context:
                  type: string
                  maxLength: 50
                  default: "chat"
                  description: Chat context
      responses:
        '200':
          description: Streaming chat response
          content:
            text/plain:
              schema:
                type: string
                description: Server-sent events stream
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/projects/{project_id}/generate:
    post:
      tags:
        - Projects
      summary: Generate project
      description: Start full project generation
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Streaming generation response
          content:
            text/plain:
              schema:
                type: string
                description: Server-sent events stream
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/projects/{project_id}/files:
    get:
      tags:
        - Projects
      summary: Get project files
      description: Get project file structure
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project file structure
          content:
            application/json:
              schema:
                type: object
                properties:
                  project_id:
                    type: string
                    format: uuid
                    description: Project ID
                  files:
                    type: object
                    description: File structure
                  updated_at:
                    type: string
                    format: date-time
                    description: Last update timestamp
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/projects/{project_id}/files/{file_path}:
    get:
      tags:
        - Projects
      summary: Get file content
      description: Get content of a specific file
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: string
            format: uuid
        - name: file_path
          in: path
          required: true
          description: File path
          schema:
            type: string
      responses:
        '200':
          description: File content
          content:
            application/json:
              schema:
                type: object
                properties:
                  file_path:
                    type: string
                    description: File path
                  content:
                    type: string
                    description: File content
                  size:
                    type: integer
                    description: File size in bytes
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/projects/{project_id}/export:
    post:
      tags:
        - Projects
      summary: Export project
      description: Export project as ZIP file
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project export file
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # === AI ENDPOINTS ===
  /api/ai/chat:
    post:
      tags:
        - AI
      summary: Chat with AI
      description: Send a message to AI and get a response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
            examples:
              code_generation:
                summary: Code generation request
                value:
                  message: "Create a React component for a user profile card"
                  context: "react_component"
                  model: "deepseek/deepseek-v3"
                  provider: "openrouter"
                  max_tokens: 2048
                  temperature: 0.7
      responses:
        '200':
          description: AI response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIResponse'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: AI service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/ai/chat/stream:
    post:
      tags:
        - AI
      summary: Stream chat with AI
      description: Send a message to AI and get a streaming response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: Streaming AI response
          content:
            text/plain:
              schema:
                type: string
                description: Server-sent events stream
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: AI service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/ai/usage:
    get:
      tags:
        - AI
      summary: Get AI usage statistics
      description: Get AI usage statistics for the authenticated user
      parameters:
        - name: days
          in: query
          description: Number of days to include in statistics
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 365
            default: 30
      responses:
        '200':
          description: AI usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIUsageStatsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/ai/providers:
    get:
      tags:
        - AI
      summary: Get available AI providers
      description: Get list of available AI providers and their information
      responses:
        '200':
          description: List of AI providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProvidersResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/ai/validate-keys:
    post:
      tags:
        - AI
      summary: Validate API keys
      description: Validate AI provider API keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: API keys to validate
              additionalProperties:
                type: string
              example:
                openrouter: "sk-or-..."
                openai: "sk-..."
                anthropic: "sk-ant-..."
      responses:
        '200':
          description: Validation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  validation_results:
                    type: object
                    description: Validation results for each provider
                    additionalProperties:
                      type: boolean
                  valid_keys:
                    type: array
                    items:
                      type: string
                    description: List of valid keys
                  invalid_keys:
                    type: array
                    items:
                      type: string
                    description: List of invalid keys
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # === MFA ENDPOINTS ===
  /api/auth/mfa/setup:
    post:
      tags:
        - Authentication
      summary: Setup MFA
      description: Настройка двухфакторной аутентификации
      responses:
        '200':
          description: MFA setup successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFASetupResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/mfa/verify:
    post:
      tags:
        - Authentication
      summary: Verify MFA code
      description: Проверка MFA кода
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFAVerifyRequest'
      responses:
        '200':
          description: MFA verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAVerifyResponse'
        '400':
          description: Invalid MFA code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/mfa/disable:
    delete:
      tags:
        - Authentication
      summary: Disable MFA
      description: Отключение MFA
      responses:
        '200':
          description: MFA disabled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # === RBAC ENDPOINTS ===
  /api/rbac/roles:
    get:
      tags:
        - RBAC
      summary: Get all roles
      description: Получить список всех ролей
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/rbac/permissions:
    get:
      tags:
        - RBAC
      summary: Get all permissions
      description: Получить список всех разрешений
      responses:
        '200':
          description: List of permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PermissionResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/rbac/users/{user_id}/roles:
    get:
      tags:
        - RBAC
      summary: Get user roles
      description: Получить роли пользователя
      parameters:
        - name: user_id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User roles
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags:
        - RBAC
      summary: Assign role to user
      description: Назначить роль пользователю
      parameters:
        - name: user_id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role_id
              properties:
                role_id:
                  type: string
                  description: Role ID to assign
      responses:
        '200':
          description: Role assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid role ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/rbac/users/{user_id}/roles/{role_id}:
    delete:
      tags:
        - RBAC
      summary: Remove role from user
      description: Удалить роль у пользователя
      parameters:
        - name: user_id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
        - name: role_id
          in: path
          required: true
          description: Role ID
          schema:
            type: string
      responses:
        '200':
          description: Role removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Role not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/rbac/check-permission:
    get:
      tags:
        - RBAC
      summary: Check user permission
      description: Проверить разрешение у текущего пользователя
      parameters:
        - name: permission
          in: query
          required: true
          description: Permission to check
          schema:
            type: string
      responses:
        '200':
          description: Permission check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_permission:
                    type: boolean
                    description: Whether user has permission
                  permission:
                    type: string
                    description: Permission checked
                  granted_by_role:
                    type: string
                    description: Role that granted permission
                  user_roles:
                    type: array
                    items:
                      type: string
                    description: User roles
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # === API KEYS ENDPOINTS ===
  /api/api-keys/:
    post:
      tags:
        - API Keys
      summary: Create API key
      description: Создать новый API ключ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyCreateRequest'
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyResponse'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags:
        - API Keys
      summary: Get user API keys
      description: Получить список API ключей пользователя
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/api-keys/{key_id}:
    get:
      tags:
        - API Keys
      summary: Get API key
      description: Получить конкретный API ключ
      parameters:
        - name: key_id
          in: path
          required: true
          description: API key ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - API Keys
      summary: Toggle API key
      description: Включить/выключить API ключ
      parameters:
        - name: key_id
          in: path
          required: true
          description: API key ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key toggled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  is_active:
                    type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - API Keys
      summary: Delete API key
      description: Удалить API ключ
      parameters:
        - name: key_id
          in: path
          required: true
          description: API key ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # === ADDITIONAL HEALTH ENDPOINTS ===
  /api/health/database:
    get:
      tags:
        - Health
      summary: Database health check
      description: Проверка состояния базы данных
      security: []
      responses:
        '200':
          description: Database health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, unhealthy, mock]
                  message:
                    type: string
                  response_time_ms:
                    type: number
                  timestamp:
                    type: string
                    format: date-time

  /api/health/ai:
    get:
      tags:
        - Health
      summary: AI services health check
      description: Проверка состояния AI сервисов
      security: []
      responses:
        '200':
          description: AI services health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, unhealthy]
                  message:
                    type: string
                  providers:
                    type: object
                    additionalProperties:
                      type: string
                  timestamp:
                    type: string
                    format: date-time

  /api/health/system:
    get:
      tags:
        - Health
      summary: System resources health check
      description: Проверка системных ресурсов
      security: []
      responses:
        '200':
          description: System resources health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, unhealthy]
                  message:
                    type: string
                  cpu_usage_percent:
                    type: number
                  memory:
                    type: object
                    properties:
                      total_gb:
                        type: number
                      available_gb:
                        type: number
                      used_percent:
                        type: number
                  disk:
                    type: object
                    properties:
                      total_gb:
                        type: number
                      free_gb:
                        type: number
                      used_percent:
                        type: number
                  processes_count:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time

  # === METRICS ENDPOINT ===
  /metrics:
    get:
      tags:
        - Monitoring
      summary: Get system metrics
      description: Get Prometheus-compatible metrics
      security: []
      responses:
        '200':
          description: System metrics
          content:
            text/plain:
              schema:
                type: string
                description: Prometheus metrics format

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from login endpoint
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for programmatic access

  schemas:
    # === ENUMS ===
    ProjectStatus:
      type: string
      enum:
        - draft
        - generating
        - completed
        - error
        - archived
      description: Project status

    SubscriptionTier:
      type: string
      enum:
        - free
        - starter
        - professional
        - business
        - enterprise
      description: User subscription tier

    AIProvider:
      type: string
      enum:
        - openrouter
        - openai
        - anthropic
        - groq
      description: AI provider

    # === REQUEST SCHEMAS ===
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: "user@example.com"
        password:
          type: string
          minLength: 8
          maxLength: 128
          description: User password
          example: "SecurePassword123!"
      additionalProperties: false

    RegisterRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: "newuser@example.com"
        password:
          type: string
          minLength: 8
          maxLength: 128
          description: User password
          example: "SecurePassword123!"
        full_name:
          type: string
          maxLength: 100
          description: User full name
          example: "John Doe"
      additionalProperties: false

    ProjectCreateRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Project name
          example: "E-commerce Website"
        description:
          type: string
          minLength: 10
          maxLength: 1000
          description: Project description
          example: "A modern e-commerce website built with React and Node.js"
        tech_stack:
          type: object
          description: Technology stack
          additionalProperties: true
          example:
            frontend: ["React", "TypeScript", "Tailwind CSS"]
            backend: ["Node.js", "Express", "PostgreSQL"]
        ai_config:
          type: object
          description: AI configuration
          additionalProperties: true
          example:
            model: "deepseek/deepseek-v3"
            provider: "openrouter"
      additionalProperties: false

    ProjectUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Project name
          example: "Updated Project Name"
        description:
          type: string
          minLength: 10
          maxLength: 1000
          description: Project description
          example: "Updated project description"
        tech_stack:
          type: object
          description: Technology stack
          additionalProperties: true
        ai_config:
          type: object
          description: AI configuration
          additionalProperties: true
        status:
          $ref: '#/components/schemas/ProjectStatus'
      additionalProperties: false

    ChatRequest:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          minLength: 1
          maxLength: 4000
          description: User message
          example: "Create a React component for a user profile card"
        context:
          type: string
          maxLength: 50
          default: "chat"
          description: Chat context
          example: "react_component"
        model:
          type: string
          maxLength: 100
          description: AI model to use
          example: "deepseek/deepseek-v3"
        provider:
          $ref: '#/components/schemas/AIProvider'
        max_tokens:
          type: integer
          minimum: 1
          maximum: 32000
          default: 4096
          description: Maximum number of tokens
        temperature:
          type: number
          minimum: 0.0
          maximum: 2.0
          default: 0.7
          description: Generation temperature
      additionalProperties: false

    # === RESPONSE SCHEMAS ===
    BaseResponse:
      type: object
      required:
        - success
        - message
        - timestamp
      properties:
        success:
          type: boolean
          description: Operation success status
          example: true
        message:
          type: string
          description: Response message
          example: "Operation completed successfully"
        timestamp:
          type: string
          format: date-time
          description: Response timestamp
          example: "2024-12-19T15:30:00Z"
      additionalProperties: false

    ErrorResponse:
      type: object
      required:
        - success
        - error
        - message
        - timestamp
      properties:
        success:
          type: boolean
          description: Operation success status
          example: false
        error:
          type: string
          description: Error type
          example: "VALIDATION_ERROR"
        message:
          type: string
          description: Error message
          example: "Invalid input data"
        details:
          type: object
          description: Additional error details
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
          description: Error timestamp
          example: "2024-12-19T15:30:00Z"
      additionalProperties: false

    UserResponse:
      type: object
      required:
        - id
        - email
        - subscription_tier
        - subscription_status
        - api_credits_balance
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: User ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        email:
          type: string
          format: email
          description: User email
          example: "user@example.com"
        full_name:
          type: string
          description: User full name
          example: "John Doe"
        avatar_url:
          type: string
          format: uri
          description: Avatar URL
          example: "https://example.com/avatar.jpg"
        subscription_tier:
          $ref: '#/components/schemas/SubscriptionTier'
        subscription_status:
          type: string
          description: Subscription status
          example: "active"
        # DEPRECATED: Will be removed in version 1.3.0
        api_credits_balance:
          type: number
          format: float
          description: API credits balance (DEPRECATED - use /api/billing/credits)
          example: 100.50
          deprecated: true
          x-deprecation-info:
            deprecated_since: "1.0.0"
            removal_version: "1.3.0"
            reason: "Replaced with more flexible subscription system"
            replacement: "Use GET /api/billing/credits"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-12-19T15:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-12-19T15:30:00Z"
      additionalProperties: false

    LoginResponse:
      type: object
      required:
        - success
        - message
        - user
        - access_token
        - token_type
        - expires_in
      properties:
        success:
          type: boolean
          description: Login success status
          example: true
        message:
          type: string
          description: Login message
          example: "Успешный вход"
        user:
          $ref: '#/components/schemas/UserResponse'
        access_token:
          type: string
          description: JWT access token
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        token_type:
          type: string
          description: Token type
          example: "bearer"
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 3600
        # DEPRECATED: Will be removed in version 2.0.0
        refresh_token:
          type: string
          description: Refresh token (DEPRECATED - use /api/auth/refresh instead)
          example: "refresh_token_here"
          deprecated: true
          x-deprecation-info:
            deprecated_since: "1.0.0"
            removal_version: "2.0.0"
            reason: "Replaced with more secure token refresh mechanism"
            replacement: "Use POST /api/auth/refresh endpoint"
      additionalProperties: false

    RegisterResponse:
      type: object
      required:
        - success
        - message
        - user_id
        - email
      properties:
        success:
          type: boolean
          description: Registration success status
          example: true
        message:
          type: string
          description: Registration message
          example: "Пользователь успешно зарегистрирован"
        user_id:
          type: string
          format: uuid
          description: Created user ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        email:
          type: string
          format: email
          description: User email
          example: "newuser@example.com"
      additionalProperties: false

    ProjectResponse:
      type: object
      required:
        - id
        - user_id
        - name
        - description
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Project ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        user_id:
          type: string
          format: uuid
          description: Owner user ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          description: Project name
          example: "E-commerce Website"
        description:
          type: string
          description: Project description
          example: "A modern e-commerce website built with React and Node.js"
        status:
          $ref: '#/components/schemas/ProjectStatus'
        tech_stack:
          type: object
          description: Technology stack
          additionalProperties: true
          example:
            frontend: ["React", "TypeScript", "Tailwind CSS"]
            backend: ["Node.js", "Express", "PostgreSQL"]
        ai_config:
          type: object
          description: AI configuration
          additionalProperties: true
          example:
            model: "deepseek/deepseek-v3"
            provider: "openrouter"
        # DEPRECATED: Will be removed in version 1.3.0
        file_count:
          type: integer
          description: Number of files in project (DEPRECATED - use /api/projects/{project_id}/files/stats)
          example: 15
          deprecated: true
          x-deprecation-info:
            deprecated_since: "1.0.0"
            removal_version: "1.3.0"
            reason: "Replaced with more detailed file information"
            replacement: "Use GET /api/projects/{project_id}/files/stats"
        # DEPRECATED: Will be removed in version 1.4.0
        total_size_bytes:
          type: integer
          description: Total project size in bytes (DEPRECATED - use /api/projects/{project_id}/storage/stats)
          example: 1024000
          deprecated: true
          x-deprecation-info:
            deprecated_since: "1.0.0"
            removal_version: "1.4.0"
            reason: "Replaced with more accurate size information"
            replacement: "Use GET /api/projects/{project_id}/storage/stats"
        generation_time_seconds:
          type: integer
          description: Generation time in seconds
          example: 120
        generation_progress:
          type: integer
          minimum: 0
          maximum: 100
          description: Generation progress percentage
          example: 75
        current_agent:
          type: string
          description: Current AI agent
          example: "code_generator"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-12-19T15:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-12-19T15:30:00Z"
        archived_at:
          type: string
          format: date-time
          description: Archive timestamp
          example: null
      additionalProperties: false

    ProjectListResponse:
      type: object
      required:
        - projects
        - total_count
        - page
        - limit
      properties:
        projects:
          type: array
          items:
            $ref: '#/components/schemas/ProjectResponse'
          description: List of projects
        total_count:
          type: integer
          description: Total number of projects
          example: 25
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Number of projects per page
          example: 10
      additionalProperties: false

    ProjectCreateResponse:
      type: object
      required:
        - success
        - message
        - project_id
        - status
        - workspace
      properties:
        success:
          type: boolean
          description: Creation success status
          example: true
        message:
          type: string
          description: Creation message
          example: "Проект создан, готов к работе"
        project_id:
          type: string
          format: uuid
          description: Created project ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        status:
          $ref: '#/components/schemas/ProjectStatus'
        workspace:
          type: string
          description: Workspace path
          example: "workspaces/user123/project456"
      additionalProperties: false

    AIResponse:
      type: object
      required:
        - content
        - provider
        - model
        - response_time
      properties:
        content:
          type: string
          description: AI response content
          example: "Here's a React component for a user profile card..."
        provider:
          $ref: '#/components/schemas/AIProvider'
        model:
          type: string
          description: AI model used
          example: "deepseek/deepseek-v3"
        # DEPRECATED: Will be removed in version 1.1.0
        tokens_used:
          type: integer
          description: Number of tokens used (DEPRECATED - use usage.total_tokens)
          example: 150
          deprecated: true
          x-deprecation-info:
            deprecated_since: "1.0.0"
            removal_version: "1.1.0"
            reason: "Replaced with more detailed usage information"
            replacement: "Use usage.total_tokens"
        # DEPRECATED: Will be removed in version 1.2.0
        cost_usd:
          type: number
          format: float
          description: Cost in USD (DEPRECATED - use usage.total_cost)
          example: 0.0015
          deprecated: true
          x-deprecation-info:
            deprecated_since: "1.0.0"
            removal_version: "1.2.0"
            reason: "Replaced with more detailed cost information"
            replacement: "Use usage.total_cost"
        response_time:
          type: number
          format: float
          description: Response time in seconds
          example: 2.5
        # New detailed usage information
        usage:
          type: object
          description: Detailed usage information
          properties:
            prompt_tokens:
              type: integer
              description: Number of prompt tokens
            completion_tokens:
              type: integer
              description: Number of completion tokens
            total_tokens:
              type: integer
              description: Total number of tokens
            prompt_cost:
              type: number
              format: float
              description: Cost for prompt tokens
            completion_cost:
              type: number
              format: float
              description: Cost for completion tokens
            total_cost:
              type: number
              format: float
              description: Total cost
      additionalProperties: false

    AIUsageStatsResponse:
      type: object
      required:
        - total_requests
        - total_tokens
        - total_cost
        - success_rate
        - providers
      properties:
        total_requests:
          type: integer
          description: Total number of AI requests
          example: 150
        total_tokens:
          type: integer
          description: Total tokens used
          example: 50000
        total_cost:
          type: number
          format: float
          description: Total cost in USD
          example: 5.25
        success_rate:
          type: number
          format: float
          description: Success rate percentage
          example: 98.5
        providers:
          type: object
          description: Statistics by provider
          additionalProperties:
            type: object
            properties:
              requests:
                type: integer
                description: Number of requests
              tokens:
                type: integer
                description: Tokens used
              cost:
                type: number
                format: float
                description: Cost in USD
      additionalProperties: false

    AIProvidersResponse:
      type: object
      required:
        - providers
      properties:
        providers:
          type: array
          items:
            type: object
            required:
              - id
              - name
              - display_name
              - requires_key
            properties:
              id:
                type: string
                description: Provider ID
                example: "openrouter"
              name:
                type: string
                description: Provider name
                example: "openrouter"
              display_name:
                type: string
                description: Display name
                example: "OpenRouter"
              website_url:
                type: string
                format: uri
                description: Provider website
                example: "https://openrouter.ai"
              documentation_url:
                type: string
                format: uri
                description: Documentation URL
                example: "https://openrouter.ai/docs"
              requires_api_key:
                type: boolean
                description: Whether API key is required
                example: true
              pricing_info:
                type: object
                description: Pricing information
                additionalProperties: true
      additionalProperties: false

    HealthCheckResponse:
      type: object
      required:
        - status
        - timestamp
        - version
        - uptime
        - services
      properties:
        status:
          type: string
          description: System status
          example: "healthy"
        timestamp:
          type: string
          format: date-time
          description: Check timestamp
          example: "2024-12-19T15:30:00Z"
        version:
          type: string
          description: API version
          example: "1.0.0"
        uptime:
          type: number
          format: float
          description: Uptime in seconds
          example: 86400.5
        services:
          type: object
          description: Service statuses
          additionalProperties:
            type: string
          example:
            database: "healthy"
            redis: "healthy"
            ai_service: "healthy"
      additionalProperties: false

    DetailedHealthResponse:
      type: object
      required:
        - status
        - timestamp
        - version
        - uptime
        - services
        - external_services
        - active_projects
        - memory_usage
        - disk_usage
      properties:
        status:
          type: string
          description: System status
          example: "healthy"
        timestamp:
          type: string
          format: date-time
          description: Check timestamp
          example: "2024-12-19T15:30:00Z"
        version:
          type: string
          description: API version
          example: "1.0.0"
        uptime:
          type: number
          format: float
          description: Uptime in seconds
          example: 86400.5
        services:
          type: object
          description: Internal service statuses
          additionalProperties:
            type: string
        external_services:
          type: object
          description: External service statuses
          additionalProperties:
            type: string
        active_projects:
          type: integer
          description: Number of active projects
          example: 150
        memory_usage:
          type: object
          description: Memory usage statistics
          additionalProperties: true
        disk_usage:
          type: object
          description: Disk usage statistics
          additionalProperties: true
      additionalProperties: false

  # === EXAMPLES ===
  examples:
    LoginExample:
      summary: Successful login
      value:
        email: "user@example.com"
        password: "SecurePassword123!"

    RegisterExample:
      summary: Successful registration
      value:
        email: "newuser@example.com"
        password: "SecurePassword123!"
        full_name: "John Doe"

    ProjectCreateExample:
      summary: Web application project
      value:
        name: "E-commerce Website"
        description: "A modern e-commerce website built with React and Node.js"
        tech_stack:
          frontend: ["React", "TypeScript", "Tailwind CSS"]
          backend: ["Node.js", "Express", "PostgreSQL"]
        ai_config:
          model: "deepseek/deepseek-v3"
          provider: "openrouter"

    ChatExample:
      summary: Code generation request
      value:
        message: "Create a React component for a user profile card"
        context: "react_component"
        model: "deepseek/deepseek-v3"
        provider: "openrouter"
        max_tokens: 2048
        temperature: 0.7

    # === MFA SCHEMAS ===
    MFASetupRequest:
      type: object
      description: MFA setup request (empty body)
      additionalProperties: false

    MFASetupResponse:
      type: object
      required:
        - secret
        - qr_code
        - backup_codes
      properties:
        secret:
          type: string
          description: MFA secret key
          example: "JBSWY3DPEHPK3PXP"
        qr_code:
          type: string
          format: uri
          description: Base64 encoded QR code image
          example: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
        backup_codes:
          type: array
          items:
            type: string
          description: Backup codes for MFA
          example: ["123456", "234567", "345678", "456789", "567890"]
      additionalProperties: false

    MFAVerifyRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          minLength: 6
          maxLength: 6
          description: 6-digit MFA code
          example: "123456"
      additionalProperties: false

    MFAVerifyResponse:
      type: object
      required:
        - verified
        - message
      properties:
        verified:
          type: boolean
          description: Whether MFA code is valid
          example: true
        message:
          type: string
          description: Verification message
          example: "MFA код подтвержден"
      additionalProperties: false

    # === RBAC SCHEMAS ===
    RoleResponse:
      type: object
      required:
        - id
        - name
        - description
        - permissions
      properties:
        id:
          type: string
          description: Role ID
          example: "admin"
        name:
          type: string
          description: Role name
          example: "Administrator"
        description:
          type: string
          description: Role description
          example: "Полный доступ ко всем функциям"
        permissions:
          type: array
          items:
            type: string
          description: List of permissions
          example: ["*"]
      additionalProperties: false

    PermissionResponse:
      type: object
      required:
        - id
        - name
        - description
      properties:
        id:
          type: string
          description: Permission ID
          example: "basic_chat"
        name:
          type: string
          description: Permission name
          example: "Basic Chat"
        description:
          type: string
          description: Permission description
          example: "Базовый чат с AI"
      additionalProperties: false

    # === API KEYS SCHEMAS ===
    APIKeyCreateRequest:
      type: object
      required:
        - provider
        - key_name
        - api_key
      properties:
        provider:
          $ref: '#/components/schemas/AIProvider'
        key_name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable name for the API key
          example: "My OpenRouter Key"
        api_key:
          type: string
          minLength: 10
          description: The actual API key
          example: "sk-or-1234567890abcdef"
      additionalProperties: false

    APIKeyResponse:
      type: object
      required:
        - id
        - provider
        - key_name
        - key_last_4
        - is_active
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: API key ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        provider:
          $ref: '#/components/schemas/AIProvider'
        key_name:
          type: string
          description: Human-readable name
          example: "My OpenRouter Key"
        key_last_4:
          type: string
          minLength: 4
          maxLength: 4
          description: Last 4 characters of the API key
          example: "cdef"
        is_active:
          type: boolean
          description: Whether the key is active
          example: true
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-12-19T15:30:00Z"
      additionalProperties: false

    APIKeyListResponse:
      type: object
      required:
        - keys
        - total_count
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/APIKeyResponse'
          description: List of API keys
        total_count:
          type: integer
          description: Total number of API keys
          example: 5
      additionalProperties: false

tags:
  - name: Health
    description: Health check endpoints
  - name: Authentication
    description: User authentication and management
  - name: Projects
    description: Project management operations
  - name: AI
    description: AI-powered code generation and chat
  - name: Monitoring
    description: System monitoring and metrics
  - name: MFA
    description: Multi-Factor Authentication
  - name: RBAC
    description: Role-Based Access Control
  - name: API Keys
    description: API Keys management